/* BACKGROUND */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    padding: 20px;
}

/* TITLE */
h2 {
    text-align: center;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 15px auto;
    max-width: 600px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* HEADER */
.card-header {
    display:flex;
    justify-content:space-between;
}

/* TEXT */
.complaint-text {
    margin:10px 0;
}

/* BUTTONS */
.btn {
    padding:10px;
    border:none;
    border-radius:8px;
    margin:5px;
    cursor:pointer;
    color:white;
}

.accept { background:#22c55e; }
.reject { background:#ef4444; }
.resolve { background:#3b82f6; }

.btn:hover { transform:scale(1.1); }

/* STATUS */
.status {
    padding:5px 10px;
    border-radius:20px;
    font-size:12px;
}

.pending { background:orange; }
.accepted { background:green; }
.rejected { background:red; }
.resolved { background:blue; }

/* INPUT */
input, textarea {
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:10px;
    border:none;
}

/* TOAST */
.toast {
    position:fixed;
    bottom:20px;
    right:20px;
    background:green;
    padding:10px;
    border-radius:8px;
}
/* CENTER LINK */
a {
    text-decoration: none;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}